<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.9)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
#Please uncomment and execute the code below if you are working locally.

#!pip install ipython-sql

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas==1.1.5

In [6]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.columns = df.columns.str.replace(' ', '')
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

**Note:This below code is added to remove blank rows from table**

In [8]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: http://sqlalche.me/e/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [9]:
result = %sql SELECT DISTINCT "LaunchSite" FROM SPACEXTBL

launch_sites_df = result.DataFrame()

for index, row in launch_sites_df.iterrows():
    print(row['"LaunchSite"'])

 * sqlite:///my_data1.db
Done.
LaunchSite


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [10]:
result = %sql SELECT * FROM SPACEXTBL WHERE "LaunchSite" LIKE 'CCA%'

launch_sites_df = result.DataFrame()

print(launch_sites_df)

 * sqlite:///my_data1.db
Done.
Empty DataFrame
Columns: []
Index: []

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [15]:
# Execute SQL query to calculate total payload mass carried by boosters launched by NASA (CRS)
result = %sql SELECT SUM("PAYLOAD_MASS__KG_") AS TotalPayloadMass FROM SPACEXTBL WHERE "Customer" LIKE '%NASA (CRS)%'

# Convert result to a DataFrame
total_payload_mass_df = result.DataFrame()

# Extract the total payload mass value
total_payload_mass = total_payload_mass_df.iloc[0]['TotalPayloadMass']

# Display the result
print("Total payload mass carried by boosters launched by NASA (CRS):", total_payload_mass)

 * sqlite:///my_data1.db
Done.
Total payload mass carried by boosters launched by NASA (CRS): 48213

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [16]:
# Execute SQL query to calculate the average payload mass carried by booster version F9 v1.1
result = %sql SELECT AVG("PAYLOAD_MASS__KG_") AS AveragePayloadMass FROM SPACEXTBL WHERE "Booster_Version" = 'F9 v1.1'

# Convert result to a DataFrame
average_payload_mass_df = result.DataFrame()

# Extract the average payload mass value
average_payload_mass = average_payload_mass_df.iloc[0]['AveragePayloadMass']

# Display the result
print("Average payload mass carried by booster version F9 v1.1:", average_payload_mass)

 * sqlite:///my_data1.db
Done.
Average payload mass carried by booster version F9 v1.1: 2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [19]:
result = %sql SELECT AVG("PAYLOAD_MASS__KG_") AS AveragePayloadMass FROM SPACEXTBL WHERE "Booster_Version" = 'F9 v1.1'

average_payload_mass_df = result.DataFrame()

average_payload_mass = average_payload_mass_df.iloc[0]['AveragePayloadMass']

print("Average payload mass carried by booster version F9 v1.1:", average_payload_mass)

 * sqlite:///my_data1.db
Done.
Average payload mass carried by booster version F9 v1.1: 2928.4

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [20]:
result = %sql SELECT Booster_Version FROM SPACEXTBL WHERE "Landing_Outcome" = 'Success (drone ship)' AND "PAYLOAD_MASS__KG_" BETWEEN 4000 AND 6000

boosters_df = result.DataFrame()

boosters_list = boosters_df['Booster_Version'].tolist()
print("Boosters with success in drone ship and payload mass between 4000 and 6000 kg:")
for booster in boosters_list:
    print(booster)

 * sqlite:///my_data1.db
Done.
Boosters with success in drone ship and payload mass between 4000 and 6000 kg:
F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [21]:
result = %sql SELECT "Mission_Outcome", COUNT(*) AS "Total" FROM SPACEXTBL GROUP BY "Mission_Outcome"

mission_outcomes_df = result.DataFrame()

print("Total number of successful and failure mission outcomes:")
print(mission_outcomes_df)

 * sqlite:///my_data1.db
Done.
Total number of successful and failure mission outcomes:
                    Mission_Outcome  Total
0               Failure (in flight)      1
1                           Success     98
2                          Success       1
3  Success (payload status unclear)      1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [22]:
result = %sql SELECT DISTINCT "Booster_Version" FROM SPACEXTBL WHERE "PAYLOAD_MASS__KG_" = (SELECT MAX("PAYLOAD_MASS__KG_") FROM SPACEXTBL)

booster_versions_df = result.DataFrame()

print("Booster versions with the maximum payload mass:")
print(booster_versions_df)

 * sqlite:///my_data1.db
Done.
Booster versions with the maximum payload mass:
   Booster_Version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [23]:
# Execute SQL query to list the records meeting the specified criteria
result = %sql SELECT substr(Date, 6, 2) AS Month, "Landing_Outcome", "Booster_Version", "Launch_Site" \
               FROM SPACEXTBL \
               WHERE substr(Date, 0, 5) = '2015' AND "Landing_Outcome" = 'Failure (drone ship)'

# Convert result to a DataFrame
records_df = result.DataFrame()

# Display the records
print("Records displaying month names, failure landing outcomes in drone ship, booster versions, and launch sites for the months in the year 2015:")
print(records_df)

 * sqlite:///my_data1.db
Done.
Records displaying month names, failure landing outcomes in drone ship, booster versions, and launch sites for the months in the year 2015:
  Month       Landing_Outcome Booster_Version  Launch_Site
0    01  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
1    04  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [24]:
result = %sql SELECT "Landing_Outcome", COUNT(*) AS Count \
               FROM SPACEXTBL \
               WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' \
               GROUP BY "Landing_Outcome" \
               ORDER BY Count DESC

landing_outcomes_df = result.DataFrame()

print("Ranking of landing outcomes between 2010-06-04 and 2017-03-20:")
print(landing_outcomes_df)

 * sqlite:///my_data1.db
Done.
Ranking of landing outcomes between 2010-06-04 and 2017-03-20:
          Landing_Outcome  Count
0              No attempt     10
1    Success (drone ship)      5
2    Failure (drone ship)      5
3    Success (ground pad)      3
4      Controlled (ocean)      3
5    Uncontrolled (ocean)      2
6     Failure (parachute)      2
7  Precluded (drone ship)      1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>